form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

form input[type="text"], form input[type="email"] {
    width: 300px;
    padding: 5px;
}

.phone-field {
    margin-bottom: 5px;
}

.phone-field button {
    margin-left: 5px;
}

button[type="submit"] {
    margin-top: 15px;
    padding: 5px 10px;
}
